body
{
	background-image: url(k.jpg);
	text-align: center;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 15px;
		float: none;
		border-radius: 20px;
        color:url(k.jpg);
	   
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
    width: 5%;
    border-radius:900px; }





	   